body{
    background: whitesmoke;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.logo-setting{
    border: 1px solid black;
    width: 30vw;
    height: 100%;
}

.logo-setting{
    display: flex;
    flex-direction: column;
}

.display{
    border: 1px solid black;
    width: 40vw;
    height: 100%;
}
.notification-tab{
    margin-top: 150px;
    border-radius: 0 28px 0 28px;
    background: #000;
    height: 60%;
    width: 90%;
    position: relative;
}
.notifications{
    position: absolute;
    left: 50%;
    right: 50%;
    top: 60px;
}
.notification-note{
    color: white;
}
h1{
    border: 1px solid white;
    position: absolute;
    left: 120px;
    bottom: 230px; 
}

p{
    border: 1px solid yellow;
    position: absolute;
    left: 50px;
    bottom: 150px;
    margin-right: 20px; 
    
}

.notification-buttons{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    left: 100px;
}

button{
    border-radius: 8px;
    width: 280px;
    height: 50px;
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 10px;
    background-color: rgb(207, 179, 158);
    box-shadow: rgba(121, 58, 98, 0.4) 5px 5px, 
                 rgba(121, 58, 98, 0.4) 5px 5px;
}
.side-bar{
    border: 1px solid black;
    width: 30vw;
    height: 100%;
}

@media screen and (max-width:780px){
    body{
        background-color: yellow;
    }

    /* .container{
        flex-direction: column;
    }
    */
    /* .logo-setting{
        border: 1px solid black;
        width: min-content;
        height: min-content;
    } */
  
    /* .display{
        border: 1px solid black;
        width: auto;
        height: auto;
    } */
    .notification-tab{
        margin-top: 160px;
        border-radius: 0 28px 0 28px;
        background: #a83a3a;
        height: 50%;
        width: 140%;
        position: relative;
    }
    h1{
        border: 1px solid green;
        background-color: grey;
        border-radius: 0 10px 0 10px;
        position: absolute;
        left: 80px;
        bottom: 220px; 
    }
    .close-tab{
        color: white;
    }
    .notifications{
        color:white
    }
}